<ion-pane class="e-page">
  <ion-content padding="false">

    


    <div>      
      <div id="banner">EduCoach</div>
    </div>

    <div class="video">
      <img src="images/ankle.png" width="100%"/>

    </div>


    <div class="directions">

      <div class="ex-title warmup-color">Ankle Pumps </div>

      <div class="timer warmup-color">5</div>

      <div class="play warmup-color"><i class="icons ion-play"></i></div>
      <p class="warmup-color">
        Complete 5 times on each leg
      </p>
      <p class="warmup-color">Repeat 5 times</p>

    </div>


</div>




  </ion-content>
</ion-pane>