<ion-pane >
  <ion-content padding="false" class="e-page">

    <div>      
      <div id="banner">EduCoach</div>
    </div>

    <div class="circular">
      <img src="images/profpic.png" width="100%">
  </div>
  <h1>Philip Phalange</h1>

 <div class="tab">Today's Exercises</div>

<div class="tab-bottom"></div>

  <button class="button button-full button-assertive warmup-active"> <div class="button-text">Warm Up</div> </button>


  <button class="button button-full button-energized exercise-one-active"><div class="button-text">Walking</div></button>


  <button class="button button-full button-balanced exercise-two-active"><div class="button-text">Thera Band</div></button>


  <button class="button button-full button-calm exercise-three-active"><div class="button-text">Balance</div></button>
  
  <button class="button button-full button-positive exercise-four-active"><div class="button-text">Partner Exercises</div></button>
    
  <button class="button button-full button-royal cooldown-active"><div class="button-text">Cool Down</div></button>


</div>




  </ion-content>
</ion-pane>