<ion-pane id="router">
  <ion-content padding="false">



    <div>      
      <div id="banner">Education</div>
    </div>

    <div class="list card">

  <div class="item item-avatar">
    <img src="images/crop.jpg">
    <h2>Dr. Soandso</h2>
    <p>Head Clinician</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="images/mountaincrop.jpg">
    <h3>Sleep</h3>
    <p>
      Here will be the text that you choose to put on the card. 
    </p>
  </div>

</div>




  </ion-content>
</ion-pane>