<ion-pane class="e-page2">
  <ion-content padding="false">

     



<div class="content">

  <div class="pagetitle worksheet">
     Completed Worksheets
      </div>
    <div class="card">
      <div class="item item-text-wrap">

    <div class="card-title goal">Goal</div>

    <div class="card-content goal-text">
        Lorem ipsum dolor sit amet, ei pri ignota saperet praesent, sea clita tation posidonium in. Per ei tantas alterum. Vidit viris convenire et duo, essent veritus ea ius. Ad pro posse solet, est id aeterno delenit.
    </div> 


  <button class="button button-full button-medindigo">
  View Completed Worksheet
  </button>

  <div class="card-title goal">Goal</div>

    <div class="card-content goal-text">
        Lorem ipsum dolor sit amet, ei pri ignota saperet praesent, sea clita tation posidonium in. Per ei tantas alterum. Vidit viris convenire et duo, essent veritus ea ius. Ad pro posse solet, est id aeterno delenit.
    </div> 

  <button class="button button-full button-medindigo">
  View Completed Worksheet
  </button>
  
        
<i class="ion-help-circled"></i>
</div>
</div>



  </ion-content>
</ion-pane>