<ion-pane class="e-page2">
  <ion-content padding="false">

     



<div class="content">

  <div class="pagetitle worksheet">
      Goal List
      </div>
    <div class="goal-list">
      <ul class=" list">
        <li class="item odd">Goal One</li>
        <li class="item even">Goal Two</li>
        <li class="item odd">Goal Three</li>
        <li class="item even">Goal Four</li>
        <li class="item odd">Goal Five</li>
        <li class="item even">Goal Six</li>
    

      </ul>

      <div class="row">
  <button class="col button button-small "><i class="icon-left ion-plus-round balanced"></i>Add</a>
  <button class="col button button-small"><i class="icon-left ion-minus-round assertive"></i>Delete</a>
  <button class="col button button-small"><i class="icon-left ion-navicon-round calm"></i>Reorder</a>
      </div>

    </div>

    
  


  
</div>
      
    


</div>
</div>



  </ion-content>
</ion-pane>