<ion-pane class="e-page2">
  <ion-content padding="false">

    
    <header>

      <div id="logo">
        <img src="../images/iadaptLogo.svg" width="100%">
      </div>

      </header>

      

  <div class="content">
  
    <div class="card">
   <div class="item item-text-wrap">

  <h1>Hello, Tom!</h1>
      

  <button class="button button-full button-medindigo">
  General Strategy
  </button>

<button class="button button-full button-medindigo">
  Strategy Worksheet
</button>
<i class="ion-help-circled"></i>
  
</div>

</div>
</div>





  </ion-content>
</ion-pane>