<ion-pane class="e-page2">
  <ion-content padding="false">

    



    <header>

      <div id="logo">
        <img src="../images/iadaptLogo.svg" width="100%">
      </div>
      </header>

      
        
<div class="content">

  <div class="card">
   <div class="item item-text-wrap">

  <h1>Welcome!</h1>
      <h3>Please log in</h3>
<div class="list">
  <label class="item item-input">
    <span class="input-label">Username</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
</div>

  <button class="button button-full ">
  Login
</button>

  <i class="ion-help-circled"></i>
</div>
    </div>
    </div>  
    


</div>




  </ion-content>
</ion-pane>