<ion-pane class="e-page2">
  <ion-content padding="false">

     



<div class="content">

  <div class="pagetitle worksheet">
      General Strategy
      </div>
    <div class="card">
      <div class="item item-text-wrap">

    <div class="card-title goal">Goal</div>

    <div class="card-content goal-text">
        Lorem ipsum dolor sit amet, ei pri ignota saperet praesent, sea clita tation posidonium in. Per ei tantas alterum. Vidit viris convenire et duo, essent veritus ea ius. Ad pro posse solet, est id aeterno delenit.
    </div> 

    <div class="card-title plan">Plan</div>

    <div class="card-content plan-text">
        Lorem ipsum dolor sit amet, ei pri ignota saperet praesent, sea clita tation posidonium in. Per ei tantas alterum. Vidit viris convenire et duo, essent veritus ea ius. Ad pro posse solet, est id aeterno delenit.
    </div> 

     <div class="card-title do">Do</div>

    <div class="card-content do-text">
        Lorem ipsum dolor sit amet, ei pri ignota saperet praesent, sea clita tation posidonium in. Per ei tantas alterum. Vidit viris convenire et duo, essent veritus ea ius. Ad pro posse solet, est id aeterno delenit.
    </div> 


    <div class="card-title check">Check</div>

    <div class="card-content check-text">
        Lorem ipsum dolor sit amet, ei pri ignota saperet praesent, sea clita tation posidonium in. Per ei tantas alterum. Vidit viris convenire et duo, essent veritus ea ius. Ad pro posse solet, est id aeterno delenit.
    </div>

    <i class="ion-help-circled"></i> 
  </div>


  
</div>
      
    


</div>
</div>



  </ion-content>
</ion-pane>