<ion-pane class="e-page2">
  <ion-content padding="false">

     



<div class="content">

  <div class="pagetitle worksheet">
      Strategy Worksheet 
      </div>
    

    <div class="card-title goal">Goal</div>


    <div class="card-content goal-text">

      <h4>Dressing:</h4>
        Basic Skill
    </div> 

    <div class="card-title plan">Plan</div>

    <div class="card-content plan-text">
        <div class="list">
  <h4>Description</h4>
    <p>My plan for dressing</p>
    <h4>Are there any safety risks?</h4>

    <div class="row">
      <button class="col button button-small positive" >Yes</button>
      <button class="col button button-small positive">No</button>
  </div>

  <h4>Do you need assistance?</h4>

    <div class="row">
      <button class="col button button-small positive" >Yes</button>
      <button class="col button button-small positive">No</button>
  </div>

  <h4>Estimate your performance</h4>
  <div class="row">
  
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>

    
    
</div>

  
</div>
</div> 

<div class="card-title do">Do</div>

    <div class="card-content goal-text">
        <h4>Rate your actual Performance</h4>


  <div class="row">
  
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  <div class="col ion-star energized"></div>
  
    
    
</div>
    </div> 





    <div class="card-title check">Check</div>
    <div class="card-content check-text">


  <h4>
     Did you do the plan?
  </h4>

  <li class="row">
      <div class="row">
      <button class="col button button-small positive" >Yes</button>
      <button class="col button button-small positive">No</button>
  </div>
  </li>


    <div class="list">

     <h4>Did the plan work?</h4>

  <div class="row">
      <button class="col button button-small positive" >Yes</button>
      <button class="col button button-small positive">No</button>
  </div>

</div>
     
    </div>

<i class="ion-help-circled"></i>




  </ion-content>
</ion-pane>