@import "base";

.e-page {
	background-color: $base-background-dark;
	font-size: $base-font-size-home;

	

	.e-mood-border {
			border-bottom: 3px $mood
	 solid;
	}

	.e-textbox {background-color: $dark;
				font-family: $base-font;
				font-size: 18px;
				color:#ffffff;
				border: 1px solid;}

	

	.e-mood-bg {@extend .e-textbox;
					background-color:$mood
			 !important;
					text-align: center;
					border-color:$mood
			 !important;}

	
	.e-mood {color:$mood !important;
			border-color: $mood !important;
			background-image: none;

			h1 {color:$mood;
				font-family:$base-font;
				font-size: 20px;
				margin: 0;
				}
			}

	


}




		

	



