@import "base";

.e-page {
	background-color: $base-background-dark;
	font-size: $base-font-size-home;

	.meds-button-bar {background-color: $meds;
					color: $base-background-dark;
					font-size: 12px;
					padding: 5px 0;
					margin: 10px 0;

					
					a {max-width: 100%;
						opacity:1 !important;}

					i {font-size: 24px;}

					.tab-item .icon {height: auto;}
					}

	.teleCath-button-bar {background-color: $teleCath;
					color: $base-background-dark;
					font-size: 12px;
					padding: 5px 0;
					margin: 10px 0;

					
					a {max-width: 100%;
						opacity:1 !important;}

					i {font-size: 24px;}

					.tab-item .icon {height: auto;}
					}

	.bmqs-button-bar {background-color: $bmq;
					color: $base-background-dark;
					font-size: 12px;
					padding: 5px 0;
					margin: 10px 0;

					
					a {max-width: 100%;
						opacity:1 !important;}

					i {font-size: 24px;}

					.tab-item .icon {height: auto;}
					}

	.mood-button-bar {background-color: $mood;
					color: $base-background-dark;
					font-size: 12px;
					padding: 5px 0;
					margin: 10px 0;
					

					
					a {max-width: 100%;
						opacity:1 !important;}

					i {font-size: 24px;}

					.tab-item .icon {height: auto;}
					}

	.skin-button-bar {background-color: $skin;
					color: $base-background-dark;
					font-size: 12px;
					padding: 5px 0;
					margin: 10px 0;

					
					a {max-width: 100%;
						opacity:1 !important;}

					i {font-size: 24px;}

					.tab-item .icon {height: auto;}
					}

	.education-button-bar {background-color: $education;
					color: $base-background-dark;
					font-size: 12px;
					padding: 5px 0;
					margin: 10px 0;

					
					a {max-width: 100%;
						opacity:1 !important;}

					i {font-size: 24px;}

					.tab-item .icon {height: auto;}
					}

	.phr-button-bar {background-color: $healthRecord;
					color: $base-background-dark;
					font-size: 12px;
					padding: 5px 0;
					margin: 10px 0;

					
					a {max-width: 100%;
						opacity:1 !important;}

					i {font-size: 24px;}

					.tab-item .icon {height: auto;}
					}
					

	


}




		

	



