.e-page {
/*	
	background-color: $base-background-dark;
	font-size: $base-font-size-home;


	.e-contact {color:$contact;
	}

	.e-contact-border {border-bottom: 3px $contact solid;}			

	.e-contact-button {background-color: $contact;
					color:$dark;
					font-family: $base-font;
					font-size: $base-font-size-home;
					border:none;}
*/
}
		