<ion-pane class="e-page">
<ion-content padding="false">

<div class="bar bar-header bar-gradient">
      <a class="button icon-left ion-chevron-left button-clear">Back</a>
    <h1 class="title">Goal List</h1>
</div>   

<div class="content">

  
    <div class="goal-list">
      <ul class=" list">
        <li class="item">Goal One</li>
        <li class="item">Goal Two</li>
        <li class="item">Goal Three</li>
        <li class="item">Goal Four</li>
        <li class="item">Goal Five</li>
        <li class="item">Goal Six</li>
      </ul>
    </div>

    
  


  
</div>
      
    


</div>
</div>



  </ion-content>
</ion-pane>