<ion-pane class="e-page">
  <ion-content padding="true">
 

   
    
<div class="logo">
        <img src="../images/iAdaptLogo.svg">
      </div>

  <h1>Welcome, Tom!</h1>
  <h4>Let's get started.</h4>
 
      
<div class="list home-buttons">
  
      <button class="button button-full">
       General Strategy
      </button>

      <button class="button button-full">
       Strategy Worksheet
      </button>

      <button class="button button-full">
       Messaging
      </button>

<i class="ion-help-circled"></i>
</div>

</div>
  






  </ion-content>
</ion-pane>