<ion-pane class="e-page">
  <ion-content padding="true">
 

   <div class="content">
    
<div class="logo">
        <img src="../images/iAdaptLogo.svg">
      </div>

    

      

 
  
    
   

  <h1>Welcome!</h1>
  <h4>Please register your device</h4>

  
      
<div class="list home-buttons">
  <label class="item item-input">
    <span placeholder="Registration Code"></span>
    <input type="text" placeholder="Registration Code" style="text-align: center">
</label>

<button class="button button-full">
 Register
</button>
<i class="ion-help-circled icon-right"></i>
</div>

</div>
  

</div>





  </ion-content>
</ion-pane>