<ion-pane class="e-page">
  <ion-content padding="false">

   <div class="bar bar-header bar-gradient">
    <a class="button icon-left ion-chevron-left button-clear">Back</a>
  <h1 class="title">Check Example</h1>
</div>   

<div class="content">

    

    <div class="card-title check">Video</div>

    <div class="ws-text">
        
   <h1>Please add in video here for example. I wasn't sure how to.</h1>

      </div>
    <div class="card-title check">Plan</div>

    <div class="ws-text">
        
        <div class="padding">
        <h3>Did you do your plan?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full">YES</button>
          </div>
          <div class="col">
            <button class="button button-full unselected">NO</button>
          </div>
        </div>
        </div>

        <div class="padding">
        <h3>Why did you give yourself that score?</h3>
          <p>Because I did well but almost dropped the glasses trying to carry too many things at once.</p>
        </div>

        <div class="padding">
        <h3>Is there anything to change?</h3>

                <div class="row">
                  <div class="col">
                    <button class="button button-full">YES</button>
                  </div>
                  <div class="col">
                    <button class="button button-full unselected">NO</button>
                  </div>
                </div>

          <p>I would carry one glass at a time to stay safe.</p>
        </div>


</div>

<div class="card-title check">More Examples</div>

    <div class="ws-text">
        
        <div class="padding">
          <h3> Example 1</h3>
          <hr>
        
        
      
        <h3>Did you do your plan?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full">YES</button>
          </div>
          <div class="col">
            <button class="button button-full unselected">NO</button>
          </div>
        </div>
        </div>

         <div class="padding">
        <h3>Did your plan work?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full  unselected">YES</button>
          </div>
          <div class="col">
            <button class="button button-full">NO</button>
          </div>
        </div>
        </div>

        <div class="padding">
        <h3>Why did you give yourself that score?</h3>
          <p>Because I did the math wrong. The check went well - I  filled out the name, signature, and date. The amount didn't go well, the math was not correct.</p>
        </div>

        <div class="padding">
        <h3>How would you change that plan?</h3>

          <p>I would use a calculator, take my time, and have someone else check my work.</p>
        </div>

        <div class="padding">
        <h3>OK, do you want to repeat your goal?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full">YES</button>
          </div>
          <div class="col">
            <button class="button button-full unselected">NO</button>
          </div>
        </div>
        

          <p>Yes, I need to make sure my math is right. I'm glad you could check it to see that it wasn't right.</p>

          </div>



        </div>

        <div class="ws-text">
        
        <div class="padding">
          <h3> Example 2</h3>

          <hr>
          
        <h3>Did you do your plan?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full">YES</button>
          </div>
          <div class="col">
            <button class="button button-full unselected">NO</button>
          </div>
        </div>
        </div>

         <div class="padding">
        <h3>Did your plan work?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full  unselected">YES</button>
          </div>
          <div class="col">
            <button class="button button-full">NO</button>
          </div>
        </div>

        <p> Yes, but I fell into my wheelchair instead of sitting down with control.
        </div>

        <div class="padding">
        <h3>Would you change your plan next time?</h3>
          <p>Yes. I would change it to include taking very small steps as I turn around so that I stay balanced and in control. I have to concentrate on balance.</p>
        </div>

        <div class="padding">
        <h3>Would you like to do your plan again?</h3>

          <div class="row">
          <div class="col">
            <button class="button button-full">YES</button>
          </div>
          <div class="col">
            <button class="button button-full unselected">NO</button>
          </div>
        </div>
        </div>

        <div class="padding">
        <h3>Repeat goal 4 times, continue to modify</h3>

        
          </div>

          

        </div>
        </div>









  </ion-content>
</ion-pane>