<ion-pane class="e-page">
  <ion-content padding="false">

   <div class="bar bar-header bar-gradient">
    <a class="button icon-left ion-chevron-left button-clear">Back</a>
  <h1 class="title">Plan Example</h1>
</div>   

<div class="content">

    

    <div class="card-title plan">Video</div>

    <div class="ws-text">
        
   <h1>Please add in video here for example. I wasn't sure how to.</h1>

      </div>
    <div class="card-title plan">Plan</div>

    <div class="ws-text">
        
        <div class="padding">
        <h3>Materials</h3>
        <ul> 
          <li><span>Napkins</span></li>
          <li><span>Dishes</span></li>
          <li><span>Silverware</span></li>
          <li><span>Glasses</span></li>
          <li><span>Water</span></li>
          <li><span>Walker</span></li>
        </ul>
    </div>

<div class="padding">
    <h3>Steps:</h3>

        <ol> 
          <li><span>Go to cabinet in kitchen and get the napkins, dishes, silverware, and glasses then place them on the table.</span></li>
          <li><span>I'll place at each setting one fork, knife, spoon, napkin, and glass. </span></li>
          <li><span>I'll put the napkins under the silverware and the glasses to the right of the napkin.</span></li>
          <li><span>I'll fill the glasses with water.</span></li>
          <li><span>Now we should be ready for dinner!</span></li>
          
        </ol>

</div>

<div class="padding">
        <h3>Is the plan safe?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full">YES</button>
          </div>
          <div class="col">
            <button class="button button-full unselected">NO</button>
          </div>
        </div>

      </div>

      <div class="padding">
        <h3>Do you need assistance?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full unselected">YES</button>
          </div>
          <div class="col">
            <button class="button button-full">NO</button>
          </div>
        </div>

      </div>

<div class="padding">
      <h3>Predict your Performance:</h3>
        <div class="row">

            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
            <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
            <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
            <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
            <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
</div>
</div>
</div>

<div class="card-title plan">More Examples</div>

    <div class="ws-text">
        
        <div class="padding">
          <h3> Example 1</h3>
          <hr>
        <h3>Materials</h3>
        <ul> 
          <li><span>Pen</span></li>
          <li><span>Checkbook</span></li>
          <li><span>Receipts</span></li>
          <li><span>Paper</span></li>
          
        </ul>
    </div>

<div class="padding">
    <h3>Steps:</h3>

        <ol> 
          <li><span>Gather Materials</span></li>
          <li><span>Fill out the check: Writing it out to who, what, and where. Then sign it. </span></li>
          <li><span>Balance ledger and check work. </span></li>
          <li><span>Have someone else check your work.</span></li>  
        </ol>

</div>

<div class="padding">
        <h3>Is the plan safe?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full">YES</button>
          </div>
          <div class="col">
            <button class="button button-full unselected">NO</button>
          </div>
        </div>

      </div>

      <div class="padding">
        <h3>Do you need assistance?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full unselected">YES</button>
          </div>
          <div class="col">
            <button class="button button-full">NO</button>
          </div>
        </div>

      </div>

<div class="padding">
      <h3>Predict your Performance:</h3>
        <div class="row">

            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
</div>
</div>
</div>


  
    <div class="ws-text">
        
        <div class="padding">
          <h3> Example 2</h3>
          <hr>
        <h3>Materials</h3>
        <ul> 
          <li><span>Walker</span></li>
          <li><span>Wheelchair</span></li>
          <li><span>Someone for support</span></li>
        </ul>
    </div>

<div class="padding">
    <h3>Steps:</h3>

        <ol> 
          <li><span>Go out to hallway</span></li>
          <li><span>Stand up from my wheelchair how my OT taught me</span></li>
          <li><span>Walk down hallway with my feet wide</span></li>
          <li><span>Come back to my wheelchair and sit down.</span></li> 
          <li><span>I am going to stand up with my legs wide apart for balance.</span></li>  
        </ol>

</div>

<div class="padding">
        <h3>Is the plan safe?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full">YES</button>
          </div>
          <div class="col">
            <button class="button button-full unselected">NO</button>
          </div>
        </div>

      </div>

      <div class="padding">
        <h3>Do you need assistance?</h3>

        <div class="row">
          <div class="col">
            <button class="button button-full">YES</button>
          </div>
          <div class="col">
            <button class="button button-full unselected">NO</button>
          </div>
        </div>

      </div>

<div class="padding">
      <h3>Predict your Performance:</h3>
        <div class="row">

            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
            <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
            <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
            <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
</div>
</div>
</div>
</div>
</div>



  </ion-content>
</ion-pane>