<ion-pane class="e-page">
  <ion-content padding="false">

   <div class="bar bar-header bar-gradient">
    <a class="button icon-left ion-chevron-left button-clear">Back</a>
  <h1 class="title">Goal Example</h1>
</div>   

<div class="content">

    

    <div class="card-title goal">Video</div>

    <div class="ws-text">
        
   <h1>Please add in video here for example. I wasn't sure how to.</h1>

      </div>
    <div class="card-title goal">Goal</div>

    <div class="ws-text">
        
        <div class="padding">
        <p>I want to set the dinner table at home for my Grandchildren.</p>
    </div>

</div>

<div class="card-title goal">More Examples</div>

    <div class="ws-text">
        
        <div class="padding">
          <h3>Example 1</h3>
        <p>Correctly write a check and balance a checkbook. Use debit card and online tools to keep track of transactions/check work. </p>
    </div>

    <div class="padding">
          <h3>Example 2</h3>
        <p>I want to work on my walking. I want to walk straight and be able to do it by myself. I want to walk steady - walk better and concentrate on my steps. </p>
    </div>

</div>
</div>



  </ion-content>
</ion-pane>