<ion-pane class="e-page">
<ion-content padding="false">

<div class="bar bar-header bar-gradient">
      <a class="button icon-left ion-chevron-left button-clear">Back</a>
    <h1 class="title">Strategy Worksheet</h1>
</div>   

  <div class="content">
      <div class="card-title goal">Goal</div>

        <div class="ws-text">
          <div class="padding">
          <h3>Dressing:</h3>
            <p>Basic Skill</p>
          </div> 
        </div>

      <div class="card-title plan">Plan</div>

        <div class="ws-text">
          <div class="padding">
            <h3>Description</h3>
            <p>My plan for dressing</p>
            <h3>Are there any safety risks?</h3>
        
              <div class="row">
                  <div class="col">
                    <button class="button button-full">YES</button>
                  </div>
                  <div class="col">
                    <button class="button button-full unselected">NO</button>
                  </div>
              </div>

            <h3>Do you need assistance?</h3>

                <div class="row">
                    <div class="col">
                      <button class="button button-full">YES</button>
                    </div>
                    <div class="col">
                      <button class="button button-full unselected">NO</button>
                    </div>
                </div>

            <h3>Estimate your performance</h3>
             <div class="row">
                <div class="col"><img src="../images/starFill.svg"/></div>
                <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
                <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
                <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
                <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
                <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
                <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
              </div>
          </div> 
        </div>


  <div class="card-title do">Do</div>

  <div class="ws-text">
    <div class="padding">
      <h3>Rate your actual Performance</h3>
          <div class="row">
        <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
        <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
        <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
        <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
        <div class="col"><img src="../images/starFill.svg" width="80%"/></div>
        <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
        <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
        <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
        <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
        <div class="col"><img src="../images/starOutline.svg" width="80%"/></div>
      </div>
      </div> 
    </div>

      <div class="card-title check">Check</div>
      <div class="ws-text">
        <div class="padding">
            <h3>Did you do the plan?</h3>

                <div class="row">
                    <div class="col">
                      <button class="button button-full">YES</button>
                    </div>
                    <div class="col">
                      <button class="button button-full unselected">NO</button>
                    </div>
                </div>


             <h3>Did the plan work?</h3>

                <div class="row">
                    <div class="col">
                      <button class="button button-full">YES</button>
                    </div>
                    <div class="col">
                      <button class="button button-full unselected">NO</button>
                    </div>
                </div>
        </div> 
      </div>
    

  </div>

</ion-content>
</ion-pane>