

<ion-pane class="e-page-light">


</ion-side-menus>
<div class="bar bar-header header-color">
      <a class="button icon-left ion-navicon button-clear"></a>
    <h1 class="title">Survey App</h1>
</div>

<ion-content padding="false">   

  <div class="content">
    
    <button class="button button-full blueBox">Roses</button>

    <button class="button button-full blueBox">Survey Two</button>

    <button class="button button-full blueBox">Survey Three</button>

  </div>

</ion-content>
</ion-pane>