<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-bmqs-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-bmq">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">BMQs</h1> 
		</ion-nav-buttons>

		


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 
		<h1 class="e-bmq">BMQs</h1>

		
		<h2>Schedule:</h2>

			<div class="row e-schedule-block e-bmq">
  				<div class="col e-left"><h4 class="e-no-margin">Reminder:</h4><h1 class="e-bmq e-no-margin">8:30am</h1></div>
  				
  				<div class="col e-right"><h4 class="e-no-margin">Frequency:</h4> <h1 class="e-bmq e-no-margin">Daily</h1></div>
			</div>

			<div class="row e-schedule-block e-bmq">
  				<div class="col e-left"><h4 class="e-no-margin">Reminder:</h4><h1 class="e-bmq e-no-margin">11:30pm</h1></div>
  				
  				<div class="col e-right"><h4 class="e-no-margin">Frequency:</h4> <h1 class="e-bmq e-no-margin">Daily</h1></div>
			</div>


		<footer>
      		<div class="button-bar bmqs-button-bar tabs-icon-top">
        <a class="tab-item">
          <i class="icon ion-plus"></i>
          Add New
        </a>

        <a class="tab-item">
          <i class="icon ion-clipboard"></i>
          Log
        </a>

        <a class="tab-item">
          <i class="icon ion-ios7-telephone"></i>
          Contact
        </a>
       
      </div>
      </footer>

		

  </ion-content>
<!-- END CONTENT -->



	</ion-view>
</ion-nav-view>
</ion-pane>

