
  <ion-view class="e-page">
  <ion-header-bar class="bar-dark">
  <h1 class="title">Button Bar Styles</h1>
</ion-header-bar>
  <ion-content padding="false">

<p class="padding">These are the basic styles for the button bars. Just change the icons and add/remove buttons as necessary for each module. </p>


<!-- MEDS -->


      <div class="button-bar meds-button-bar tabs-icon-top">
        <a class="tab-item">
          <i class="icon ion-plus"></i>
          Add New
        </a>

        
      </div>


<!-- TELECATH -->

      <div class="button-bar teleCath-button-bar tabs-icon-top">
        <a class="tab-item">
          <i class="icon ion-plus"></i>
          Add New
        </a>

        <a class="tab-item">
          <i class="icon ion-clipboard"></i>
          Log
        </a>

       
       
      </div>
  

<!-- BMQs -->


      <div class="button-bar  bmqs-button-bar tabs-icon-top">
        <a class="tab-item">
          <i class="icon ion-plus"></i>
          Add New
        </a>

        <a class="tab-item">
          <i class="icon ion-clipboard"></i>
          Log
        </a>

        <a class="tab-item">
          <i class="icon ion-ios7-telephone"></i>
          Contact
        </a>
       
      </div>


<!-- MOOD -->


      <div class="button-bar  mood-button-bar tabs-icon-top">
        <a class="tab-item">
          <i class="icon ion-plus"></i>
          Add New
        </a>

        <a class="tab-item">
          <i class="icon ion-clipboard"></i>
          Log
        </a>

        <a class="tab-item">
          <i class="icon ion-ios7-telephone"></i>
          Contact
        </a>
       
      </div>
        


<!-- SKIN CARE -->


       <div class="button-bar  skin-button-bar tabs-icon-top">
        <a class="tab-item">
          <i class="icon ion-plus"></i>
          Add New
        </a>

        <a class="tab-item">
          <i class="icon ion-clipboard"></i>
          Log
        </a>

        <a class="tab-item">
          <i class="icon ion-ios7-telephone"></i>
          Contact
        </a>
       
      </div>
  

<!-- EDUCATION -->


      <div class="button-bar  education-button-bar tabs-icon-top">
        <a class="tab-item">
          <i class="icon ion-plus"></i>
          Add New
        </a>

        <a class="tab-item">
          <i class="icon ion-clipboard"></i>
          Log
        </a>

        <a class="tab-item">
          <i class="icon ion-ios7-telephone"></i>
          Contact
        </a>
       
      </div>


<!-- PERSONAL HEALTH RECORD -->
  

      <div class="button-bar  phr-button-bar tabs-icon-top">
        <a class="tab-item">
          <i class="icon ion-plus"></i>
          Add New
        </a>

        <a class="tab-item">
          <i class="icon ion-clipboard"></i>
          Log
        </a>

        <a class="tab-item">
          <i class="icon ion-ios7-telephone"></i>
          Contact
        </a>
       
      </div>

  


 </div>


  </ion-content>

  
  

</ion-view>

