
  <ion-view class="e-page">
  <ion-header-bar class="bar-dark">
  <h1 class="title">iMHere 2.0</h1>
</ion-header-bar>
  <ion-content padding="false">



<div>

   <!-- <button class="e-dashboard-tile-bg"> 
        
         <h2>Rewards</h2>
  
  </button>
  -->

    <div class="e-dashboard-info e-rewards-dashboard">
      
      <p>Keep using the app to earn more reward points!</p>
    
    </div>

  <button class="e-dashboard-tile e-rewards-bg"> 
        
         <h2>Today's Schedule</h2>
  
  </button>
  
   <div class="row e-dashboard-info e-myMeds-dashboard">
      
      <div class="col-67"><p>Ibuprofen</p></div>
      <div class="col-33"><p class="time">12:15 pm</p></div>
    
    </div>
  
  
    <!-- <button class="e-dashboard-tile e-telecath-bg"> 
    
      <h2>TeleCath</h2>

  </button>
-->
      <div class="row e-dashboard-info e-teleCath-dashboard">
       
       <div class="col-67"><p>Change Catheter</p></div>
      <div class="col-33"><p class="time">2:00 pm</p></div>
    
      </div>


  
    <!-- <button class="e-dashboard-tile e-bmqs-bg">x
    <h2>BMQs</h2>
  </button>


  -->
 
      <div class="row e-dashboard-info e-bmq-dashboard">
       
       <div class="col-67"><p>BMQs</p></div>
      <div class="col-33"><p class="time">2:00 pm</p></div>
    
      </div>

     <!-- <button class="e-dashboard-tile e-mood-bg"> 
    <h2>Mood</h2>
  </button>
-->
  
    <div class="row e-dashboard-info e-mood-dashboard">
    
       <div class="col-67"><p>Mood Questions</p></div>
      <div class="col-33"><p class="time">4:00 pm</p></div>
    
      </div>
  
    <!-- <button class="e-dashboard-tile e-skin-bg"> 
    <h2>Skin Care</h2>
  </button>
-->
  
      <div class="row e-dashboard-info e-myMeds-dashboard">
       
       <div class="col-67"><p>Multivitamin</p></div>
      <div class="col-33"><p class="time">5:00 pm</p></div>
    
      </div>

      <!-- <button class="e-dashboard-tile e-skin-bg"> 
    <h2>Skin Care</h2>
  </button>
-->
  
      <div class="row e-dashboard-info e-skin-dashboard">
       
       <div class="col-67"><p>Skin Care Log</p></div>
      <div class="col-33"><p class="time">10:00 pm</p></div>
    
      </div>
  
 <!-- <button class="e-dashboard-tile e-education-bg"> 
      <h2>Education</h2>
  </button>
  -->
      <div class="row e-dashboard-info e-education-dashboard">
       
       <div class="col-67"><p>2 new articles</p></div>
      <div class="col-33"><p class="time">10:05 pm</p></div>
    
      </div>
  
    
 </div>


  </ion-content>

  <div class="tabs tabs-dark tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
  
  <a class="tab-item">
    <i class="icon ion-ios7-telephone"></i>
    Contact
  </a>

  <a class="tab-item">
    <i class="icon ion-chatbubbles"></i>
    Messages
  </a>
  
  
</div>
</ion-view>

