
  <ion-view class="e-page">
  <ion-header-bar class="bar-dark">
  <h1 class="title">iMHere 2.0</h1>
</ion-header-bar>
  <ion-content padding="false">



<div>

  <button class="e-dashboard-tile e-meds-bg e-dark">
        
         <h2>My Meds</h2>
  
  </button>

    <div class="e-dashboard-info e-myMeds-dashboard">
      
      <p>You have 1 Medication Reminder today</p>
    
    </div>
  

  
    <button class="e-dashboard-tile e-telecath-bg e-dark">
    
      <h2>TeleCath</h2>

  </button>

      <div class="e-dashboard-info e-teleCath-dashboard e-dark">
      <p>You have 1 teleCath Reminder today</p>
      </div>


  
    <button class="e-dashboard-tile e-bmqs-bg e-dark">
    <h2>BMQs</h2>
  </button>
 
      <div class="e-dashboard-info e-bmq-dashboard e-dark">
      <p>You have 1 BMQ Reminder today</p>
      </div>

    <button class="e-dashboard-tile e-mood-bg e-dark">
    <h2>Mood</h2>
  </button>
  
    <div class="e-dashboard-info e-mood-dashboard e-dark">
      <p>Don't forget to record your mood</p>
      </div>
  
    <button class="e-dashboard-tile e-skin-bg e-dark">
    <h2>Skin Care</h2>
  </button>
  
      <div class="e-dashboard-info e-skin-dashboard e-dark">
      <p>You have 1 Skincare Reminder today</p>
      </div>
  
    <button class="e-dashboard-tile e-education-bg e-dark">
      <h2>Education</h2>
  </button>
  
      <div class="e-dashboard-info e-education-dashboard e-dark">
      <p>You have 2 articles to read today</p>
      </div>
  
    <button class="e-dashboard-tile e-health-bg e-dark">
    <h2>Personal Health Record</h2>
  </button>

      <div class="e-dashboard-info e-healthRecord-dashboard e-dark">
      <p>You have a new health update</p>
      </div>

 </div>


  </ion-content>

  <div class="tabs tabs-dark tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
  
  <a class="tab-item">
    <i class="icon ion-ios7-telephone"></i>
    Contact
  </a>

  <a class="tab-item">
    <i class="icon ion-chatbubbles"></i>
    Messages
  </a>
  
  
</div>
</ion-view>

