<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-education-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-education">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Education</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 
		<div class=" e-education-bg">
			<h1 class="padding">Quiz</h1>
		</div>

		<div class="e-quiz-question">How can you best manage your self care?</div>

	


			<button class="button button-full e-answer-button e-is-selected e-a1">Use this app</div></button>

			<button class="button button-full e-answer-button e-a2">Ask someone else</button>

			<button class="button button-full e-answer-button e-a3">Call my Doctor</button>

			<button class="button button-full e-answer-button e-a4">Read webMD</button>


		



		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

