<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-education-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-education">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Education</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 
		<div class=" e-education-bg">
			<h1 class="padding">Quiz</h1>
		</div>

		<div class="e-quiz-question">Great Job!</div>

	


			<button class="button button-full e-education-bg">Next Section</button>

			<button class="button button-full button-dark e-font-style">Back to Education Home</button>



		



		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

