<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-mygoal-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Goals</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-ios7-star e-goal"></i>
			</button>

		   <button class="button button-clear">
		   	<i class="icon ion-plus e-goal"></i>
		   </button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content>

  <div class="e-list e-goal">
 
		<div class="e-goal-header">
			
		<h1>Take Meds on time for 3 days</h1>
	</div>
	<div class="clear">  </div>
		<h1>Progress Rating:</h1>
			<div class="row">
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starOutline.svg" width="100%"/></div>
                <div class="col"><img src="../images/starOutline.svg" width="100%"/></div>
                <div class="col"><img src="../images/starOutline.svg" width="100%"/></div>
              </div>

		</div>


  <div class="e-list e-goal">
 
		<div class="e-goal-header">
			
		<h1>Participate in Wheelchair basketball</h1>
	</div>
	<div class="clear">  </div>
		<h1>Progress Rating:</h1>
			<div class="row">
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div><div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starOutline.svg" width="100%"/></div>
              </div>

		</div>

   <div class="e-list e-goal">
 
		<div class="e-goal-header">
			
		<h1>Work with vocational rehab to find a job</h1>
	</div>
	<div class="clear">  </div>
		<h1>Progress Rating:</h1>
			<div class="row">
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starFill.svg" width="100%"/></div>
                <div class="col"><img src="../images/starOutline.svg" width="100%"/></div>
              </div>

		</div>


  </ion-content>
<!-- END CONTENT -->
	</ion-view>
</ion-nav-view>
</ion-pane>

