<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-healthRecord-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-healthRecord">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">My Health Record</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-plus e-healthRecord"></i>
			</button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
  <button class="e-hr-button e-medicalHistory-home e-dark">
  	<p>Medical History <i class="icon icon-right ion-chevron-down"></i></p>	
  </button>

  <div class="e-hr-summary ">
 
		
		<h1>Spina Bifida</h1>
		<h2>Myelomeningocele</h2>

		<h1>Hydrocephalus</h1>

		

		<div class="padding-vertical">
			<button class="button button-small e-medical-bg edit-center">Edit</button>
		</div>  
  
	</div>
  
    <button class="e-hr-button e-surgicalHistory-home e-dark">
    <p>Surgical History <i class="icon icon-right ion-chevron-down"></i></p>
  </button>

  <div class="e-surgicalHistory-summary">
 
		<h1>Neurosurgeries</h1>
		<h2>Ventriculoperitoneal (VP) Shunt</h2>

		<h1>Urologic Surgeries</h1>
		<h2>Bladder Division</h2>

		<h1>Orthopedic Surgeries</h1>
		<h2>Upper Extremities</h2>

		<h1>Other Surgeries</h1>
		<h2>None</h2>

		<div class="padding-vertical">
			<button class="button button-small e-surgical-bg edit-center">Edit</button>
		</div>  
  
	</div>


  
    <button class="e-hr-button e-allergy-home e-dark">
    <p>Allergies <i class="icon icon-right ion-chevron-down"></i></p>
  </button>

  		<div class="e-allergy-summary">
 
		<h1>Food Allergies</h1>
		<h2> Shellfish</h2>
		<h2> Dairy</h2>
		<h1>Medication Allergies</h1>
		<h2> Penicillin</h2>
		<h1>Substance Allergies</h1>
		<h2> None</h2>
		<h1>Allergy Action Plan</h1>
		
		<div class="padding-vertical">
			<button class="button button-small e-allergy-bg edit-center">Edit</button>
		</div>  
  
	</div>
 

    <button class="e-hr-button e-med-home e-dark">
    <p>Medications <i class="icon icon-right ion-chevron-down"></i></p>
  </button>
  
  	<div class="e-med-summary">
 
		
		<h1>Active Medications</h1>
		<h2>Amoxicillin</h2>
		<h2>Ibuprofen</h2>
		<h2>Colace</h2>
		
		<h1>Past Medications</h1>
		<h2>Zinc Supplement</h2>
		<h2>Zoloft</h2>
		<h2>Topamax</h2>
		
		<h1>Medication Database</h1>
		

		<h1>Pharmacy Contact Information</h1>
		<h2>Neighborhood Pharmacy</h2>
		<h2>123 Pharmacy St Pittsburgh PA 15222</h2>
		<h2>412-555-5555</h2>

		

		<div class="padding-vertical">
			<button class="button button-small e-medication-bg edit-center">Edit</button>
		</div>  

	</div>
  
    <button class="e-hr-button e-family-home e-dark">
    <p>Family Medical History <i class="icon icon-right ion-chevron-down"></i></p>
  </button>
  
  		<div class="e-family-summary">
 
		
		<h1>Mother</h1>
		<h2>Disease, onset at age, living status, age of death</h2>

		<h1>Father</h1>
		<h2>Disease, onset at age, living status, age of death</h2>
		
		<h1>Grandmother</h1>
		<h2>Disease, onset at age, living status, age of death</h2>

		<h1>Grandfather</h1>
		<h2>Disease, onset at age, living status, age of death</h2>

		<h1>Other Family Member</h1>
		<h2>Disease, onset at age, living status, age of death</h2>

		<h1>Prevalence Count</h1>
		<h2>Placeholder Text</h2>

		

		<div class="padding-vertical">
			<button class="button button-small e-family-bg edit-center">Edit</button>
		</div>  

	</div>
  
    <button class="e-hr-button e-function-home e-dark">
      <p>Function <i class="icon icon-right ion-chevron-down"></i></p>
  </button>
  
  	<div class="e-function-summary">
 
		<h1>Accomodations</h1>
			<h2>Service Animals</h2>
		<h1>Braces</h1>
			<h2>none</h2>
		<h1>Assitive Devices</h1>
			<h2>none</h2>
		<h1>Mobility Devices</h1>
			<h2>Power Wheelchair</h2>
		

		<div class="padding-vertical">
			<button class="button button-small e-function-bg edit-center">Edit</button>
		</div>  

	</div>
  
    <button class="e-hr-button e-social-home e-dark">
    <p>Social <i class="icon icon-right ion-chevron-down"></i></p>
  </button>
		
		<div class="e-social-summary">
 
		<h1>Housing Environment</h2>
		<h2>Single family home</h2>

		<h1>Employment Status</h2>
		<h2>Employed Full-time</h2>

		<h1>Marital Status</h2>
		<h2>Single</h2>

		<h1>Transportation</h2>
		<h2>Personal Vehicle</h2>

		<h1>Education</h2>
		<h2>Student</h2>

		<h1>Alcohol and Tobacco Use</h2>
		<h2>None</h2>

		<h1>Social Work Concerns</h2>
		<h2>None</h2>

		<h1>Diet and Exercise</h2>
		<h2>Special Diet and light exercise</h2>
		




		<div class="padding-vertical">
			<button class="button button-small e-social-bg edit-center">Edit</button>
		</div>  

	</div>


  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

