
  <ion-view class="e-page">
  <ion-header-bar class="bar-dark">
  <h1 class="title">iMHere 2.0</h1>
</ion-header-bar>
  <ion-content padding="false">



<div>

  <button class="e-home-button e-myMeds-home e-dark">
    <p>My Meds</p>
  </button>
  

  
    <button class="e-home-button e-teleCath-home e-dark">
    <p>teleCath</p>
  </button>


  
    <button class="e-home-button e-bmq-home e-dark">
    <p>BMQs</p>
  </button>
 

    <button class="e-home-button e-mood-home e-dark">
    <p>Mood</p>
  </button>
  

  
    <button class="e-home-button e-skin-home e-dark">
    <p>Skin Care</p>
  </button>
  

  
    <button class="e-home-button e-education-home e-dark">
      <p>Education</p>
  </button>
  

  
    <button class="e-home-button e-healthRecord-home e-dark">
    <p>Personal Health Record</p>
  </button>
  

 </div>


  </ion-content>

  <div class="tabs tabs-dark tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
  
  <a class="tab-item">
    <i class="icon ion-ios7-telephone"></i>
    Contact
  </a>

  <a class="tab-item">
    <i class="icon ion-chatbubbles"></i>
    Messages
  </a>
  
  
</div>
</ion-view>

