<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-healthRecord-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-healthRecord">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Add to History</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-clipboard e-healthRecord"></i>
			</button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 <button class="e-hr-button e-healthRecord e-dark">
    <p>Spina Bifida</p> 
  </button>

		
		<ul class="list e-healthRecord e-hr-summary">

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Myelomeningocele
        </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Meningocele
        </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Lipomyelomeningocele
        </li>
 
       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Split Cord Malformation
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Myelocystocele
        </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Sacral Agenesis
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Other
        </li>

        <div class="padding-vertical">
      <button class="button button-small e-medical-bg edit-center">Add</button>
    </div>  

  </ul>

<button class="e-hr-button e-medicalHistory-home e-dark">
    <p>Cerebral Palsy</p> 
  </button>
    <ul class="list e-healthRecord e-hr-summary">
      <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Add
        </li>

    </ul>
<button class="e-hr-button e-medicalHistory-home e-dark">
    <p>Chiari II Malformation</p> 
  </button>
    <ul class="list e-healthRecord e-hr-summary">
      <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Add
        </li>
      </ul>
<button class="e-hr-button e-medicalHistory-home e-dark">
    <p>Tethered Cord Syndrome</p> 
  </button>
  <ul class="list e-healthRecord e-hr-summary">
      <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Add
        </li>
          </ul>
<button class="e-hr-button e-medicalHistory-home e-dark">
    <p>Hydrocephalus</p> 
  </button>
  <ul class="list e-healthRecord e-hr-summary">
    <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Add
        </li>
  </ul>

<button class="e-hr-button e-medicalHistory-home e-dark">
    <p>Traumatic Brain Injury</p> 
  </button>
    <ul class="list e-healthRecord e-hr-summary">
      <li class="item item-checkbox checkbox-positive">
               <label class="checkbox">
                 <input type="checkbox">
               </label>
               Add
            </li>
    </ul>

<button class="e-hr-button e-medicalHistory-home e-dark">
    <p>Spinal Cord Injury</p> 
  </button>
<ul class="list e-healthRecord e-hr-summary">
  <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Add
        </li>
</ul>

<button class="e-hr-button e-medicalHistory-home e-dark">
    <p>Other Diagnoses</p> 
  </button>

<div class="e-healthRecord e-hr-summary">

    <label class="item item-input">
    <textarea placeholder="Type other diagnoses here... "></textarea>
  </label>

  <div class="padding-vertical">
      <button class="button button-small e-medical-bg edit-center">Add</button>
    </div>  
</div>


 
<button class="button button-full e-medical-bg">Submit</button>

		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

