<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-healthRecord-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-healthRecord">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Add to History</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-clipboard e-healthRecord"></i>
			</button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  


  <button class="e-hr-button e-allergy-home e-dark">
    <p>Food Allergies <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

    
    <ul class="list e-allergyRecord e-allergy-summary">

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Breads and Starches
        </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Fruit
        </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
         Vegetables
         </li>
 
       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Meat and Meat Substitutes
        </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Dairy
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Fats, Nuts, Seeds
        </li>

         <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Condiments
        </li>

         <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Other
        </li>
          <div class="padding-vertical">
      <button class="button button-small e-allergy-bg edit-center">Add</button>
    </div>  

        

  </ul>


  <button class="e-hr-button e-allergy-home e-dark">
    <p>Medication Allergies <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

<div class="e-allergyRecord e-allergy-summary">

    <label class="item item-input">
    <textarea placeholder="Type Medication Allergies here... "></textarea>
  </label>

  <div class="padding-vertical">
      <button class="button button-small e-allergy-bg edit-center">Add</button>
    </div>  
</div>


<button class="e-hr-button e-allergy-home e-dark">
    <p>Substance Allergies <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

<div class="e-allergyRecord e-allergy-summary">

    <label class="item item-input">
    <textarea placeholder="Type substance allergies here... "></textarea>
  </label>

  <div class="padding-vertical">
      <button class="button button-small e-allergy-bg edit-center">Add</button>
    </div>  
</div>

<button class="e-hr-button e-allergy-home e-dark">
    <p>UPMC Info Link</p> 
  </button>

<div class="list e-allergyRecord e-allergy-summary padding">

         <p>
          <a href="http://www.upmc.com/health-library/Pages/HealthwiseIndex.aspx?qid=te7016#te7017
">Food Allergy Info</a></p>

          <p><a href="http://www.upmc.com/health-library/Pages/HealthwiseIndex.aspx?qid=te7064#te7065
">Medication Allergy Info</a><br>   </p>

</div>
 
<button class="button button-full e-allergy-bg">Submit</button>

		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

