<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-healthRecord-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-healthRecord">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Add to History</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-clipboard e-healthRecord"></i>
			</button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 <button class="e-hr-button e-function-home e-dark">
    <p>Accomodations </i></p> 
  </button>

		
		<ul class="list e-function e-function-summary">

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Low Vision Toolkit
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Alternative Format Documents (Braille, large print, electronic)

        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Large Button Phone
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Assistive Listening Toolkit
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Service Animal
        </li>

         <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Assistance with ADLs
        </li>

         <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Other
        </li>


        <div class="padding-vertical">
        <button class="button button-small e-function-bg edit-center">Add</button>
      </div>
  </ul>

  

</div>

  




<button class="e-hr-button e-function-home e-dark">
    <p>Braces <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

<div class="e-function e-function-summary">

    <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Yes
        </li>

         <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           No
        </li>

        <div class="padding-vertical">
        <button class="button button-small e-function-bg edit-center">Add</button>
      </div>
    </div>  


<button class="e-hr-button e-function-home e-dark">
    <p>Assistive Devices <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

<div class="e-function e-function-summary">

    <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Crutches
        </li>

         <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Cane
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Walker
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Other Device
        </li>

        <div class="padding-vertical">
        <button class="button button-small e-function-bg edit-center">Add</button>
      </div>
    </div>  

    <button class="e-hr-button e-function-home e-dark">
    <p>Mobility Devices <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

<div class="e-function e-function-summary">

    <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Manual Wheelchair
        </li>

         <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Power Assist Wheelchair
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
          Scooter
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Power Wheelchair
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Other Device
        </li>

        <div class="padding-vertical">
        <button class="button button-small e-function-bg edit-center">Add</button>
      </div>
    </div>  


 
<button class="button button-full e-function-bg">Submit</button>

		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

