<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-healthRecord-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-healthRecord">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Add to History</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-clipboard e-healthRecord"></i>
			</button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 
 <button class="e-hr-button e-family e-dark">
    <p>Mother <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

    
    <div class="list  e-family-summary">

        
          <h1>Disease</h1>

    <label class="item item-input">
    <textarea placeholder="Type diseases affecting this family member here... "></textarea>
  </label>

  

       
          <h1>Age of Onset</h1>

    <label class="item item-input">
    <textarea placeholder="Type ages of onset here... "></textarea>
  </label>


          <h1>Living status</h1>

    <ul class="list e-family">
      <li class="item item-checkbox checkbox-positive">
               <label class="checkbox">
                 <input type="checkbox">
               </label>
               Living
            </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Deceased
        </li>
    </ul>

          <h1>Age of Death (if applicable)</h1>

    <label class="item item-input">
    <textarea placeholder="If deceased, enter age here... "></textarea>
  </label>

  <div class="padding-vertical">
              <button class="button button-small e-family-bg edit-center">Add</button>
            </div>  
        </div> 
      
</div>

         <button class="e-hr-button e-family e-dark">
            <p>Father <i class="icon icon-right ion-chevron-down"></i></p> 
          </button>

            
            <div class="list  e-family-summary">

        
          <h1>Disease</h1>

    <label class="item item-input">
    <textarea placeholder="Type diseases affecting this family member here... "></textarea>
  </label>

  

       
          <h1>Age of Onset</h1>

    <label class="item item-input">
    <textarea placeholder="Type ages of onset here... "></textarea>
  </label>


          <h1>Living status</h1>

    <ul class="list e-family">
      <li class="item item-checkbox checkbox-positive">
               <label class="checkbox">
                 <input type="checkbox">
               </label>
               Living
            </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Deceased
        </li>
    </ul>

          <h1>Age of Death (if applicable)</h1>

    <label class="item item-input">
    <textarea placeholder="If deceased, enter age here... "></textarea>
  </label>

  <div class="padding-vertical">
              <button class="button button-small e-family-bg edit-center">Add</button>
            </div>  
        </div> 
      
</div>


                   <button class="e-hr-button e-family e-dark">
                      <p>Grandmother <i class="icon icon-right ion-chevron-down"></i></p> 
                    </button>

                      
                     <div class="list  e-family-summary">

        
          <h1>Disease</h1>

    <label class="item item-input">
    <textarea placeholder="Type diseases affecting this family member here... "></textarea>
  </label>

  

       
          <h1>Age of Onset</h1>

    <label class="item item-input">
    <textarea placeholder="Type ages of onset here... "></textarea>
  </label>


          <h1>Living status</h1>

    <ul class="list e-family">
      <li class="item item-checkbox checkbox-positive">
               <label class="checkbox">
                 <input type="checkbox">
               </label>
               Living
            </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Deceased
        </li>
    </ul>

          <h1>Age of Death (if applicable)</h1>

    <label class="item item-input">
    <textarea placeholder="If deceased, enter age here... "></textarea>
  </label>

  <div class="padding-vertical">
              <button class="button button-small e-family-bg edit-center">Add</button>
            </div>  
        </div> 
      
</div>


 <button class="e-hr-button e-family e-dark">
    <p>Grandfather <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

    
    <div class="list  e-family-summary">

        
          <h1>Disease</h1>

    <label class="item item-input">
    <textarea placeholder="Type diseases affecting this family member here... "></textarea>
  </label>

  

       
          <h1>Age of Onset</h1>

    <label class="item item-input">
    <textarea placeholder="Type ages of onset here... "></textarea>
  </label>


          <h1>Living status</h1>

    <ul class="list e-family">
      <li class="item item-checkbox checkbox-positive">
               <label class="checkbox">
                 <input type="checkbox">
               </label>
               Living
            </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Deceased
        </li>
    </ul>

          <h1>Age of Death (if applicable)</h1>

    <label class="item item-input">
    <textarea placeholder="If deceased, enter age here... "></textarea>
  </label>

  <div class="padding-vertical">
              <button class="button button-small e-family-bg edit-center">Add</button>
            </div>  
        </div> 
      
</div>


                 <button class="e-hr-button e-family e-dark">
                    <p>Add Family Member <i class="icon icon-right ion-chevron-down"></i></p> 
                  </button>

                    
                    <div class="list  e-family-summary">

        
          <h1>Disease</h1>

    <label class="item item-input">
    <textarea placeholder="Type diseases affecting this family member here... "></textarea>
  </label>

  

       
          <h1>Age of Onset</h1>

    <label class="item item-input">
    <textarea placeholder="Type ages of onset here... "></textarea>
  </label>


          <h1>Living status</h1>

    <ul class="list e-family">
      <li class="item item-checkbox checkbox-positive">
               <label class="checkbox">
                 <input type="checkbox">
               </label>
               Living
            </li>

       <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Deceased
        </li>
    </ul>

          <h1>Age of Death (if applicable)</h1>

    <label class="item item-input">
    <textarea placeholder="If deceased, enter age here... "></textarea>
  </label>

  <div class="padding-vertical">
              <button class="button button-small e-family-bg edit-center">Add</button>
            </div>  
        </div> 
      
</div>

<button class="e-hr-button e-family e-dark">
    <p>Prevalence Count <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

    
    <ul class="list e-family e-family-summary">

      <textarea placeholder="Prevalence Count... "></textarea>
</ul>





<button class="button button-full e-family-bg">Submit</button>

		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

