<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-healthRecord-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-healthRecord">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Add to History</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-clipboard e-healthRecord"></i>
			</button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 <button class="e-hr-button e-med-home e-dark">
    <p>Active Medications <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

		
		<div class="list e-medRecord e-med-summary">

        <button class="e-hr-button  e-dark">
    <p>Amoxicillin <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>
        <h2>Antibiotic</h2>

          <h1>Currently taking?</h2>

            <h2>Yes</h2>

        <h1>
           Frequency
        </h1>
        <h2>every eight hours</h2>

        <h1>
           Dose
        </h1>
        <h2>300mg</h2>

        <h1>
           Prescribing Provider
        </h1>
        <h2>Dr. Who</h2>

        <h1>
           Starting Date
        </h1>
        <h2>5/5/2016</h2>

        <h1>
           Description/Reason
        </h1>
        <h2>to prevent infection </h2>

        <button class="e-hr-button  e-dark">
    <p>Ibuprofen <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

  <button class="e-hr-button  e-dark">
    <p>Colace <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

        
        <div class="padding-vertical">
      <button class="button button-small e-medication-bg edit-center">Add</button>
    </div>  

  </div>




  <button class="e-hr-button e-med-home e-dark">
    <p>Past Medications <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

  <div class="list e-medRecord e-med-summary">

          <h2>Zinc Supplement</h2>
         
        <h2>
           Zoloft
        </h2>

        <h2>
          Topamax
        </h2>
        
        <div class="padding-vertical">
      <button class="button button-small e-medication-bg edit-center">Add</button>
    </div>  

  </div>

    
    
  <button class="e-hr-button e-med-home e-dark">
    <p>Medication Database <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

<div class="list e-medRecord e-med-summary">

        <h2>Search:</h2>
    <input type="textarea" placeholder="Start typing new medication here" class="e-textbox e-meds padding"></input>

    <button class="e-result">Tylenol 100mg</button>

    <button class="e-result">Tylenol 200mg</button>

    <button class="e-result">Tylenol Junior</button>

    <button class="e-result">Tylenol Liquid</button>
    

      <div class="e-result-info padding">
        <h1 class="e-meds">Brand Name:</h1>
        <p>Liquid Tylenol</p>

        <h1 class="e-meds">Generic:</h1>
        <p>Acetaminophen</p>

        <h1 class="e-meds">Ingredients:</h1>
        <p>Acetaminophen</p>

        <h1 class="e-meds">Route:</h1>
        <p>Oral</p>

        <h1 class="e-meds">Dosage Form:</h1>
        <p>Liquid</p>

        <h1 class="e-meds">Labeler Name:</h1>
        <p>A-S Medical Solutions</p>
      </div>

        <div class="padding-vertical">
      <button class="button button-small e-medication-bg edit-center">Add</button>
    </div>  
  </div>


<button class="e-hr-button e-med-home e-dark">
    <p>Pharmacy Contact Information <i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

  <div class="list e-medRecord e-med-summary">

<h1 class="e-medication">Pharmacy Contact</h1>
      <p><input type="text" name="pharmacy name" placeholder="Name" class="e-medication-input"></p>

      <p><input type="text" name="pharmacy phone" placeholder="Phone Number" class="e-medication-input"></p>

      <p><input type="text" name="pharmacy address" placeholder="Address" class="e-medication-input"></p>

      <div class="padding-vertical">
      <button class="button button-small e-medication-bg edit-center">Add</button>
    </div>  

</div> 
</div>

<button class="button button-full e-medication-bg">Submit</button>

		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

