<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-healthRecord-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-healthRecord">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Add to History</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-clipboard e-healthRecord"></i>
			</button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

<button class="e-hr-button e-social-home e-dark">
    <p>Housing Environment<i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

<div class="e-social e-social-summary">

    <label class="item item-input">
    <textarea placeholder="Who I live with...  "></textarea>
  </label>
<br>
  <label class="item item-input">
    <textarea placeholder="Housing layout "></textarea>
  </label>
<br>
  <label class="item item-input">
    <textarea placeholder="Safety at home "></textarea>
  </label>

  <div class="padding-vertical">
      <button class="button button-small e-social-bg edit-center">Add</button>
    </div>  
</div>

<button class="e-hr-button e-social-home e-dark">
    <p> Employment Status<i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

    
    <ul class="list e-social e-social-summary">

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Employed Full Time
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Employed Part Time
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Occasional Worker
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Volunteer
        </li>



        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Child or Student
        </li>


        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Home Maker
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Seeking work but not currently working
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Permanently Disabled
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Retired
        </li>

        <div class="padding-vertical">
      <button class="button button-small e-social-bg edit-center">Add</button>
    </div>  
</div>
  </ul>

  <button class="e-hr-button e-social-home e-dark">
    <p> Marital Status<i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

    
    <ul class="list e-social e-social-summary">

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Single
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Married
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Partner
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Divorced/Separated
        </li>



        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Widowed
        </li>

        <div class="padding-vertical">
      <button class="button button-small e-social-bg edit-center">Add</button>
    </div>  
</div>
  </ul>

  <button class="e-hr-button e-social-home e-dark">
    <p>Transportation<i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

<div class="e-social e-social-summary">

    <label class="item item-input">
    <textarea placeholder="Transportation methods I use"></textarea>
  </label>
    <div class="padding-vertical">
      <button class="button button-small e-social-bg edit-center">Add</button>
    </div>  
    </div>  

<button class="e-hr-button e-social-home e-dark">
    <p> Education<i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

    
    <ul class="list e-social e-social-summary">

      <h1> Are you a current student?</h1>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Yes
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           No
        </li>

      <h1>Highest Education level</h1>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Pre-elementary
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Primary/Secondary
        </li>



        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Technical School
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Some College
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           College Degree
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Advanced Degree
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Other
        </li>
        <div class="padding-vertical">
      <button class="button button-small e-social-bg edit-center">Add</button>
    </div>  
</div>
  </ul>


<button class="e-hr-button e-social-home e-dark">
    <p> Alcohol and Tobacco Use<i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

    
    <ul class="list e-social e-social-summary">

      <h1> Tobacco</h1>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Yes
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           No
        </li>

      <h1> Alcohol</h1>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           Yes
        </li>

        <li class="item item-checkbox checkbox-positive">
           <label class="checkbox">
             <input type="checkbox">
           </label>
           No
        </li>

      <div class="padding-vertical">
      <button class="button button-small e-social-bg edit-center">Add</button>
    </div>  

      </ul>

      <button class="e-hr-button e-social-home e-dark">
    <p>Social Work Concerns<i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

<div class="e-social e-social-summary">

    <label class="item item-input">
    <textarea placeholder="Express concerns here"></textarea>
  </label>
    <div class="padding-vertical">
      <button class="button button-small e-social-bg edit-center">Add</button>
    </div>  
    </div>  

    <button class="e-hr-button e-social-home e-dark">
    <p>Diet and Exercise<i class="icon icon-right ion-chevron-down"></i></p> 
  </button>

<div class="e-social e-social-summary">

    <label class="item item-input">
    <textarea placeholder="Notes about diet and exercise"></textarea>
  </label>
    <div class="padding-vertical">
      <button class="button button-small e-social-bg edit-center">Add</button>
    </div>  
    </div>  



 
<button class="button button-full e-social-bg">Submit</button>

		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

