<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-mood-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-mood">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Mood</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-ios7-telephone e-mood"></i>
			</button>

			<button class="button button-clear">
				<i class="icon ion-clipboard e-mood"></i>
			</button>

		   <button class="button button-clear">
		   	<i class="icon ion-plus e-mood"></i>
		   </button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 
		<h1 class="e-mood">Mood Questions</h1>

		<h2>1. Have you felt a persistent sad, anxious, or empty mood? </h2>

		<div class="button-bar">
  			<a class="button e-mood-bg">Yes</a>
  			<!-- USE e-mood-bg for YES or NO user input, 
  				use .e-textbook for other option not selected-->
  			<a class="button e-textbox e-mood">No</a>
		</div>

		<h2>2. Have you been sleeping too little
or too much? </h2>

		<div class="button-bar">
  			<a class="button e-mood-bg">Yes</a>
  			<!-- USE e-mood-bg for YES or NO user input, 
  				use .e-textbook for other option not selected-->
  			<a class="button e-textbox e-mood">No</a>
		</div>

		<h2>3. Have you had a loss of appetite 
and weight loss -or- increased 
appetite and weight gain? </h2>

		<div class="button-bar">
  			<a class="button e-mood-bg">Yes</a>
  			<!-- USE e-mood-bg for YES or NO user input, 
  				use .e-textbook for other option not selected-->
  			<a class="button e-textbox e-mood">No</a>
		</div>

		<h2>4. Have you lost interest or pleasure 
in activities you once enjoyed? </h2>

		<div class="button-bar">
  			<a class="button e-mood-bg">Yes</a>
  			<!-- USE e-mood-bg for YES or NO user input, 
  				use .e-textbook for other option not selected-->
  			<a class="button e-textbox e-mood">No</a>
		</div>



		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

