<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-mood-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-mood">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Mood</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-ios7-telephone e-mood"></i>
			</button>

			<button class="button button-clear">
				<i class="icon ion-clipboard e-mood"></i>
			</button>

		   <button class="button button-clear">
		   	<i class="icon ion-plus e-mood"></i>
		   </button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 
		<h1 class="e-mood">Mood Log</h1>

		
	
			<div class="row e-schedule-block e-mood">
  				<div class="col-75 e-left e-mood-bg padding">
  					<h2 class="e-text-left e-no-margin">June 10, 2015 @ 2:10pm</h2></div>
  				
  				<div class="col-25 e-right padding"> <h2 class="e-text-center e-mood e-log-number e-no-margin">10/10</h2></div>
			</div>

			<div class="row e-schedule-block e-mood">
  				<div class="col-75 e-left e-mood-bg padding"><h2 class="e-text-left e-no-margin">June 14, 2015 @ 11:17pm</h2></div>
  				
  				<div class="col-25 e-right padding"> <h2 class="e-text-center e-mood e-log-number e-no-margin">0/10</h2></div>
			</div>

			<div class="row e-schedule-block e-mood">
  				<div class="col-75 e-left e-mood-bg padding"><h2 class="e-text-left e-no-margin">June 17, 2015 @ 2:10pm</h2></div>
  				
  				<div class="col-25 e-right padding"> <h2 class="e-text-center e-mood e-log-number e-no-margin">6/10</h2></div>
			</div>

			<div class="row e-schedule-block e-mood">
  				<div class="col-75 e-left e-mood-bg padding"><h2 class="e-text-left e-no-margin">August 1, 2015 @ 8:30am</h2></div>

  				<div class="col-25 e-right padding"> <h2 class="e-text-center e-mood e-log-number e-no-margin">6/10</h2></div>
  				
  				



		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

