<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-myMeds-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">myMeds</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-ios7-telephone e-meds"></i>
			</button>

		   <button class="button button-clear">
		   	<i class="icon ion-plus e-meds"></i>
		   </button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content>

  <div class="e-list e-meds">
 
		<h1>Ibuprofen</h1>
		<p>everyday @ 2:30pm by mouth with water</p>
		<p>Pain Management</p>

  </div>

  <div class="e-list e-meds">
 
		<h1>Zyrtec</h1>
		<p>everyday @ 8:30am with water</p>
		<p>Allergy Relief</p>

  </div>

   <div class="e-list e-meds">
 
		<h1>Multivitamin</h1>
		<p>everyday @ 8:30am with water and light meal</p>
		<p>Wellness</p>

  </div>


  </ion-content>
<!-- END CONTENT -->
	</ion-view>
</ion-nav-view>
</ion-pane>

