<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-myMeds-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-meds">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">myMeds</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-ios7-telephone e-meds"></i>
			</button>

		   <button class="button button-clear">
		   	<i class="icon ion-plus e-meds"></i>
		   </button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 
		<h1 class="e-meds">Add Medication</h1>

		<h2>Search:</h2>
		<input type="textarea" placeholder="Start typing new medication here" class="e-textbox e-meds padding"></input>

		<button class="e-result">Tylenol 100mg</button>

		<button class="e-result">Tylenol 200mg</button>

		<button class="e-result">Tylenol Junior</button>

		<button class="e-result">Tylenol Liquid</button>
		

			<div class="e-result-info padding">
				<h1 class="e-meds">Brand Name:</h1>
				<p>Liquid Tylenol</p>

				<h1 class="e-meds">Generic:</h1>
				<p>Acetaminophen</p>

				<h1 class="e-meds">Ingredients:</h1>
				<p>Acetaminophen</p>

				<h1 class="e-meds">Route:</h1>
				<p>Oral</p>

				<h1 class="e-meds">Dosage Form:</h1>
				<p>Liquid</p>

				<h1 class="e-meds">Labeler Name:</h1>
				<p>A-S Medical Solutions</p>
			</div>

			
				

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

