<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-profile-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-profile">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">My Profile</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-edit e-profile"></i>
			</button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

    <button class="e-hr-button e-profile-home e-dark">
    <h2>Patient Demographics <i class="icon icon-right ion-chevron-down"></i></h2>
  </button>


  <div class="e-profile-summary">
		  <h1 class="e-profile">Name</h1>
		  <h2>Jonny Appleseed</h2>

		  <h1 class="e-profile">Date of Birth</h1>
		  <h2>12/31/1984</h2>

		  <h1 class="e-profile">Race</h1>
 		  <h2>White</h2>

 		  <h1 class="e-profile">Ethnicity</h1>
 		  <h2>Not hispanic or Latino</h2>

 		  <h1 class="e-profile">Gender</h1>
 		  <h2>Male</h2>

 		  <h1 class="e-profile">Height</h1>
 		  <h2>5'4"</h2>

 		  <h1 class="e-profile">Weight</h1>
 		  <h2>135 lbs</h2>

 		  <h1 class="e-profile">Address</h1>
 		  <h2>123 Apple Ln<br>
 		  	Chicago, IL 60601</h2>

 		  <h1 class="e-profile">Insurance</h1>
 		  <h2>Medicaid</h2>

 		  <h1 class="e-profile">Emergency Contact</h1>
 		  <h2>Mama Appleseed</h2>

<div class="padding-vertical">
      <button class="button button-small e-profile-button edit-center">Edit</button>
    </div> 

</div>

  <button class="e-hr-button e-profile-home e-dark">
    <h2>Primary Care Practitioner <i class="icon icon-right ion-chevron-down"></i></h2>
  </button>

    <div class="e-profile-summary">

  		<h1 class="e-profile">Name</h1>
		  <h2>Dr. David Who</h2>

		  <h1 class="e-profile">Specialty</h1>
		  <h2>Primary Care Physician</h2>

		  <h1 class="e-profile">Contact Information</h1>
 		  <h2>412-555-5555<br>
 		  	who@doctor.com</h2>

 		  	<div class="padding-vertical">
      <button class="button button-small e-profile-button edit-center">Edit</button>
    </div> 

 	</div>

    <button class="e-hr-button e-profile-home e-dark">
    <h2>Administrative Information <i class="icon icon-right ion-chevron-down"></i></h2>
  </button>


  <div class="e-profile-summary">

  		<h1 class="e-profile">Insurance Provider</h1>
		  <h2>UPMC for you</h2>

		  <h1 class="e-profile">Policy Type</h1>
		  <h2>HMO</h2>

		  <h1 class="e-profile">Policy ID Number</h1>
 		  <h2>555555555</h2>

 		  <h1 class="e-profile">Copay Information</h1>
		  <h2>$20 office visits</h2>
		  <h2>$40 specialists</h2>

		  <h1 class="e-profile">Contact Numbers</h1>
		  <h2>1-800-555-5555</h2>

		   <button class="e-hr-button  e-dark">
    <h2>Advance Directives <i class="icon icon-right ion-chevron-down"></i></h2>
  </button>
		   <div class="padding">
		  		<h1 class="e-profile">Guardianship</h1>
		  			<h2>information</h2>

		  		<h1 class="e-profile">HCP</h1>
		  			<h2>information</h2>

		  		<h1 class="e-profile">Personal Representative</h1>
		  			<h2>information</h2>

		  		<h1 class="e-profile">Organ Donation Status</h1>
		  			<h2>donor</h2>
		  </div>


 		  	<div class="padding-vertical">
      <button class="button button-small e-profile-button edit-center">Edit</button>
    </div> 
  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

