<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-reminders-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">My Reminders</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-ios7-telephone e-reminders"></i>
			</button>

		   <button class="button button-clear">
		   	<i class="icon ion-plus e-reminders"></i>
		   </button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT 

~~~~~~~~~~ EACH REMINDER TITLE WILL HAVE THE SAME
			COLOR AS ITS CORRESPONSING MODULE ~~~~~~~~~~~~~~~

-->

  <ion-content>

  <div class="e-list e-reminders">
 
		<h1 class="e-meds">Ibuprofen</h1>
		<p>everyday @ 2:30pm by mouth with water</p>
		<p>My Meds</p>

		<div class="button-bar">
			  <a class="button button-small e-reminders-button">Take Now</a>
			  <a class="button  button-small e-reminders-button">Take Later</a>
		</div>

  </div>

  <div class="e-list e-reminders">
 
		<h1 class="e-telecath">Change Catheter</h1>
		<p>everyday @ 8:30am</p>
		<p>TeleCath</p>


		<div class="button-bar">
			  <a class="button button-small e-reminders-button">Change Now</a>
			  <a class="button  button-small e-reminders-button">Change Later</a>
		</div>

  </div>

   <div class="e-list e-reminders">
 
		<h1 class="e-skin">Skin Care Log</h1>
		<p>everyday @ 8:30am</p>
		<p>Skin Care</p>


		<div class="button-bar">
			  <a class="button button-small e-reminders-button">Complete Now</a>
			  <a class="button  button-small e-reminders-button">Complete Later</a>
		</div>

  </div>

<div class="e-list e-reminders">
 
		<h1 class="e-mood">Mood Log</h1>
		<p>everyday @ 10:30pm</p>
		<p>Mood</p>


		<div class="button-bar">
			  <a class="button button-small e-reminders-button">Complete Now</a>
			  <a class="button  button-small e-reminders-button">Complete Later</a>
		</div>
</div>

  </ion-content>
<!-- END CONTENT -->
	</ion-view>
</ion-nav-view>
</ion-pane>

