
  <ion-view class="e-page">
  <ion-header-bar class="bar-dark">
  <h1 class="title">Rewards</h1>
</ion-header-bar>
  <ion-content padding="true">



<div class="rewards">

  <img src="../images/rewards.svg">

  <h1> Rewards Center </h1>
    <p>Track your progress to your next reward here. Earn points as you use the app to manage your health.  </p>

</div>

<div class="goals">
  <br>
     <button class="e-dashboard-tile e-rewards-bg e-dark">
        
         <h2>This week's goals</h2>
  
    </button>



     <div class="medreward">Take 2 meds on time</div>

      <div class="moodreward">Record Mood</div>

       <div class="telecathreward">Set TeleCath reminder</div>


</div>
    

  
</div>
</ion-view>

