
  <ion-view class="e-page">
  <ion-header-bar class="bar-dark">
  <h1 class="title">iMHere 2.0</h1>
</ion-header-bar>
  <ion-content padding="false">



<div>

  
    <div class="e-menu-item e-myMeds-menu">
      
      <p>My Meds</p>
    
    </div>

    

      <div class="e-menu-item e-teleCath-menu e-dark">
      <p>TeleCath</p>
      </div>


  
    
      <div class="e-menu-item e-bmq-menu e-dark">
      <p>BMQs</p>
      </div>

  
    <div class="e-menu-item e-mood-menu e-dark">
      <p>Mood</p>
      </div>
  
   
      <div class="e-menu-item e-skin-menu e-dark">
      <p>Skincare</p>
      </div>
  
  
  
      <div class="e-menu-item e-education-menu e-dark">
      <p>Education</p>
      </div>
  
    

      <div class="e-menu-item e-healthRecord-menu e-dark">
      <p>My Health Record</p>
      </div>

    <br>

    <br>

      <div class="e-menu-item e-contact-menu e-dark">
      <p>Contacts</p>
      </div>


    

      <div class="e-menu-item e-messages-menu e-dark">
      <p>Messages</p>
      </div>


    

      <div class="e-menu-item e-settings-menu e-dark">
      <p>Settings</p>
      </div>

 </div>


  </ion-content>  
</ion-view>

