<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-skin-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-skin">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Skincare</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-ios7-telephone e-skin"></i>
			</button>

			<button class="button button-clear">
				<i class="icon ion-clipboard e-skin"></i>
			</button>

		   <button class="button button-clear">
		   	<i class="icon ion-plus e-skin"></i>
		   </button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  		<img width="100%" src="../images/skinmap.svg">
 
		<h1 class="e-skin e-text-center">Select Affected Area</h1>


		<div class="row e-text-center e-font-style e-no-margin">
		  <div class="col e-chest padding">Chest</div>
		  <div class="col e-shoulders padding">Shoulders</div>
		  <div class="col e-arms padding">Arms</div>
  		</div>

  		<div class="row e-text-center e-font-style e-no-margin">
		  <div class="col e-stomach padding">Stomach</div>
		  <div class="col e-back padding">Back</div>
		  <div class="col e-buttocks padding">Buttocks</div>
  		</div>

  		<div class="row e-text-center e-font-style e-no-margin">
		  <div class="col e-legs padding">Legs</div>
		  <div class="col e-feet padding">Feet</div>
		  <div class="col e-hands padding">Hands</div>
  		</div>

		
	
			

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

