<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-skin-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-skin">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Skincare</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-ios7-telephone e-skin"></i>
			</button>

			<button class="button button-clear">
				<i class="icon ion-clipboard e-skin"></i>
			</button>

		   <button class="button button-clear">
		   	<i class="icon ion-plus e-skin"></i>
		   </button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 
		<h1 class="e-skin">Affected Skin Log (By location)</h1>

		
	
			<div class="row e-schedule-block e-skin">
  				<div class="col-80 e-left e-skin-bg padding">
  					<h2 class="e-text-left e-no-margin">Shoulder</h2></div>
  				
  				<div class="col-20 e-right padding"> <h2 class="e-text-center e-skin e-log-number e-no-margin">0</h2></div>
			</div>

			<div class="row e-schedule-block e-skin">
  				<div class="col-80 e-left e-log-button-selected padding">
  					<h2 class="e-text-left e-no-margin">Arm</h2></div>
  				
  				<div class="col-20 e-right padding"> <h2 class="e-text-center e-skin e-log-number e-no-margin">1</h2></div>
  			</div>

  				<div class="e-skinLog-info padding">

  					<a class="item item-thumbnail-left" href="#">
					      <img src="../images/skintn.jpg">
					      <h3 class="e-skin">Created:</h3>
					      <h4>2015.06.10</h4>
					      <h3 class="e-skin">Records:</h5>
					      <h4>1</h4>
					      <h3 class="e-skin">Status:</h3>
					      <h4>ready for tracking</h4>
					</a>

  					<h3 class="e-skin">Location:</h3>
  					<p>Lower Left arm near wrist</p>

  					<h3 class="e-skin">Condition:</h3>
  					<p>Dry and Clear</p>

  					<h3 class="e-skin">Size:</h3>
  					<p>Smaller than pencil eraser</p>

  					<h3 class="e-skin">Depth:</h3>
  					<p>Less than 0.1cm</p>
  					<h6>Logged 2015.06.19 at 2:19:21</h6>




  				</div>

			<div class="row e-schedule-block e-skin">
  				<div class="col-80 e-left e-skin-bg padding"><h2 class="e-text-left e-no-margin">Hand</h2></div>
  				
  				<div class="col-20 e-right padding"> <h2 class="e-text-center e-skin e-log-number e-no-margin">0</h2></div>
			</div>

			<div class="row e-schedule-block e-skin">
  				<div class="col-80 e-left e-skin-bg padding"><h2 class="e-text-left e-no-margin">Chest</h2></div>
  				
  				<div class="col-20 e-right padding"> <h2 class="e-text-center e-skin e-log-number e-no-margin">0</h2></div>
			</div>

			<div class="row e-schedule-block e-skin">
  				<div class="col-80 e-left e-skin-bg padding"><h2 class="e-text-left e-no-margin">Stomach</h2></div>
  				
  				<div class="col-20 e-right padding"> <h2 class="e-text-center e-skin e-log-number e-no-margin">0</h2></div>
			</div>

			<div class="row e-schedule-block e-skin">
  				<div class="col-80 e-left e-skin-bg padding"><h2 class="e-text-left e-no-margin">Back</h2></div>
  				
  				<div class="col-20 e-right padding"> <h2 class="e-text-center e-skin e-log-number e-no-margin">0</h2></div>
			</div>

			<div class="row e-schedule-block e-skin">
  				<div class="col-80 e-left e-skin-bg padding"><h2 class="e-text-left e-no-margin">Buttocks</h2></div>
  				
  				<div class="col-20 e-right padding"> <h2 class="e-text-center e-skin e-log-number e-no-margin">2</h2></div>
			</div>

			<div class="row e-schedule-block e-skin">
  				<div class="col-80 e-left e-skin-bg padding"><h2 class="e-text-left e-no-margin">Leg</h2></div>
  				
  				<div class="col-20 e-right padding"> <h2 class="e-text-center e-skin e-log-number e-no-margin">0</h2></div>
			</div>

			<div class="row e-schedule-block e-skin">
  				<div class="col-80 e-left e-skin-bg padding"><h2 class="e-text-left e-no-margin">Foot</h2></div>
  				
  				<div class="col-20 e-right padding"> <h2 class="e-text-center e-skin e-log-number e-no-margin">1</h2></div>
			</div>




		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

