<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-skin-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-skin">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">Skin Care</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-ios7-telephone e-skin"></i>
			</button>

			<button class="button button-clear">
				<i class="icon ion-clipboard e-skin"></i>
			</button>

		   <button class="button button-clear">
		   	<i class="icon ion-plus e-skin"></i>
		   </button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT 

~~~~~~~~~~~~~~~

IN THIS SECTION I PUT THE WHOLE LIST OF QUESTIONS IN,
BUT WHEN YOU DEVELOP THE APP, IT SHOULD BE ONE QUESTION PER PAGE.

~~~~~~~~~~~~~~~
-->

  <ion-content class="padding">

  
 
		<h1 class="e-skin">Skin Care Report</h1>
		<h1>Arm</h2>

		<h2 class="e-skin">Location</h2>

		<ul class="list">

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Left</h1>
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Right</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Upper</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			    <h1>Lower</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Inner</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Outer</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Front</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Back</h1>
			  </li>




</ul>

<button class="button button-full e-skin-bg">Next</button>

<!--NEW PAGE -->
<h1 class="e-skin">Skin Care Report</h1>
<h1>Location Notes:</h1>

<input type="textarea" placeholder="Near wrist, in middle of thigh, etc." class="e-textbox e-skin padding"></input>

<button class="button button-full e-skin-bg">Next</button>
		
<!--NEW PAGE -->

<h1>Size:</h1>
 <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Smaller than an eraser</h1>
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Quarter-sized</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>I forget the exact sizes</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			    <h1>Wheeee!! Options!</h1>
			  </li>

			 <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			    <h1>select the size</h1>
			  </li>

<button class="button button-full e-skin-bg">Next</button>

<!--NEW PAGE -->
<h1 class="e-skin">Skin Care Report</h1>
<h1>Color of affected area:</h1>

			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Normal</h1>
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Pink</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Red</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			    <h1>White/Grey</h1>
			  </li>

			 <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			    <h1>Green/Yellow</h1>
			  </li>

	<button class="button button-full e-skin-bg">Next</button>

<!--NEW PAGE -->
<h1 class="e-skin">Skin Care Report</h1>
<h1>Tissue Condition around affected area:</h1>

			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Normal</h1>
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Dry and/or Scaly</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Flaky</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			    <h1>Moist</h1>
			  </li>

			 <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			    <h1>White/Yellow Discharge</h1>
			  </li>

<button class="button button-full e-skin-bg">Next</button>

<!--NEW PAGE -->
<h1 class="e-skin">Skin Care Report</h1>
<h1>Depth of Wound:</h1>

			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>Less than .01cm</h1>
			  </li>

			  <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>1cm</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			     <h1>2cm</h1>
			  </li>


			<li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			    <h1>3cm</h1>
			  </li>

			 <li class="item item-checkbox">
			     <label class="checkbox">
			       <input type="checkbox">
			     </label>
			    <h1>and so on...</h1>
			  </li>

<button class="button button-full e-skin-bg">Next</button>

<!--NEW PAGE -->
<h1 class="e-skin">Skin Care Report</h1>
<h1>Additional Notes:</h1>

			<textarea class="e-textbox" placeholder="Leave a note to give more details" class="e-textbox e-skin padding"></textarea>

	<button class="button button-full e-skin-bg">Next</button>

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

