<ion-pane class="e-page">

<!-- NAVIGATION BAR -->
<ion-nav-view>
	<ion-view class="e-page">
		<ion-nav-bar class="bar bar-header bar-dark e-telecath-border">
			
		</ion-nav-bar>

		<ion-nav-buttons side="left">
			<ion-nav-back-button class="button-clear e-telecath">
    			<i class="ion-arrow-left-c"></i> Back
  			</ion-nav-back-button>
		  <button class="button button-clear">
		  	<i class="icon ion-home"></i>
		  </button> 

		  <h1 class="title">TeleCath</h1> 
		</ion-nav-buttons>

		<ion-nav-buttons side="right">
			<button class="button button-clear">
				<i class="icon ion-ios7-telephone e-telecath"></i>
			</button>

		   <button class="button button-clear">
		   	<i class="icon ion-plus e-telecath"></i>
		   </button>
		</ion-nav-buttons>


<!-- END NAVIGATION BAR -->

<!-- BEGIN CONTENT -->

  <ion-content class="padding">

  
 
		<h1 class="e-telecath">TeleCath Reminders</h1>

		
		<h2>Schedule:</h2>

			<div class="row e-schedule-block e-telecath">
  				<div class="col e-left"><h4 class="e-no-margin">Reminder:</h4><h1 class="e-telecath e-no-margin">8:30am</h1></div>
  				
  				<div class="col e-right"><h4 class="e-no-margin">Frequency:</h4> <h1 class="e-telecath e-no-margin">Daily</h1></div>
			</div>

			<div class="row e-schedule-block e-telecath">
  				<div class="col e-left"><h4 class="e-no-margin">Reminder:</h4><h1 class="e-telecath e-no-margin">11:30pm</h1></div>
  				
  				<div class="col e-right"><h4 class="e-no-margin">Frequency:</h4> <h1 class="e-telecath e-no-margin">Daily</h1></div>
			</div>




		

  </ion-content>
<!-- END CONTENT -->


	</ion-view>
</ion-nav-view>
</ion-pane>

