
  <ion-view class="e-page">
  <ion-header-bar class="bar-dark">
  <button class="button button-clear icon ion-navicon"></button>
  <h1 class="title">iMHere Caregiver Dashboard</h1>
</ion-header-bar>
  <ion-content padding="false">



<div class="padding">

  <button class="e-home-button e-myMeds-home e-dark row">
    <div class="col col-75">
        <h1>Ibuprofen - 01:00PM</h1>
        <h5>Should have been taken 1 hour ago</h5>
    </div>
    <div class="col col-25 counter">
      <p class="number orange"> 3</p>
      <p class="orange small">missed alerts</p>  
      </div>
  </button>
  <div class="info-dropdown">
      <ul>
        <li class="e-item orange-border">Vitamin A - 1:00PM</li>
        <li class="e-item orange-border">Folic Acid - 1:00PM</li>
        <li class="e-item orange-border">Zoloft - 1:00PM</li>
        <div class="button-bar">
           <a class="orange-border button e-button icon-left ion-close-circled">Dismiss All</a>
           <a class="orange-border button e-button icon-left ion-email icon-assertive">Send Message</a> 
        </div>
      </ul>  
  </div>  
  <div class="info-dropdown-arrow"><i class="ion-chevron-up"></i></div> 

  <!-- USE "ion-chevron-down" WHEN DROP DOWN IS CLOSED :) -->
  

  
    <button class="e-home-button e-skin-home e-dark row">

    <div class="col col-20">
      <img src="../images/hand.png" class="tn dash-margin">
    </div>
    <div class="col col-30">
        <h1>Right Hand</h1>
        <h3 class="purple">Size:</h3> <h4>smaller than a penny</h4>
        <h3 class="purple">Color:</h3> <h4>Pink</h4>
        <h3 class="purple">Condition:</h3> <h4>dry</h4>
        <h3 class="purple">Depth:</h3> <h4>Less than .1 cm</h4>
        <h5>2016-05-01 01:00PM</h5>
      </div>
  
    <div class="col col-25 counter">
      
      <p class="number purple">2</p>
      <p class="purple small">missed alerts</p>  </div>

    </button>
    <div class="info-dropdown">
      <ul>
        <li class="e-item purple-border">Right Foot <a class="details purple">Details</a></li>
        <li class="e-item purple-border">Left Thigh<a class="details purple">Details</a></li>
        <div class="button-bar">
           <a class="purple-border button e-button icon-left ion-close-circled">Dismiss All</a>
           <a class="purple-border button e-button icon-left ion-email icon-assertive">Send Message</a> 
        </div>
      </ul>  
  </div>  
    <div class="info-dropdown-arrow"><i class="ion-chevron-up"></i></div> 

    <!-- USE "ion-chevron-up" WHEN DROP DOWN IS CLOSED :) -->
  
    <button class="e-home-button e-teleCath-home e-dark row">
    <div class="col col-75">
        <h1>Catheterization - 01:00PM</h1>
        <h5>Completed 1 hour ago</h5>
    </div>
    <div class="col col-25 counter">
      <p class="number green"> 0</p>
      <p class="green small">missed alerts</p>  
      </div> 
  </button>
  <div class="info-dropdown">
      <ul>
        <li class="e-item green-border">All Tasks Complete! </li>
        <div class="button-bar">
           <a class="green-border button e-button icon-left ion-close-circled">Dismiss All</a>
           <a class="green-border button e-button icon-left ion-email icon-assertive">Send Message</a> 
        </div>
      </ul>  
  </div>  
  <div class="info-dropdown-arrow"><i class="ion-chevron-up"></i></div> 
  
  <!-- USE "ion-chevron-up" WHEN DROP DOWN IS CLOSED :) -->

    <button class="e-home-button e-bmq-home e-dark row">
    <div class="col col-75">
        <h1>BMQ - 12:30 PM</h1>
        <h5>Should have been done 1.5 hours ago</h5>
    </div>
    <div class="col col-25 counter">
      <p class="number yellow"> 2</p>
      <p class="yellow small">missed alerts</p>  
      </div> 
  </button>
  <div class="info-dropdown">
      <ul>
        <li class="e-item yellow-border">Missed Questionnaire - 12:30 PM</li>
        <li class="e-item yellow-border">Completed Questionnaire - 9:30 AM</li>
        <div class="button-bar">
           <a class="yellow-border button e-button icon-left ion-close-circled">Dismiss All</a>
           <a class="yellow-border button e-button icon-left ion-email icon-assertive">Send Message</a> 
        </div>
      </ul>  
  </div>  
  <div class="info-dropdown-arrow"><i class="ion-chevron-up"></i></div> 

<!-- USE "ion-chevron-up" WHEN DROP DOWN IS CLOSED :) -->
   
    <button class="e-home-button e-mood-home e-dark row">
    <div class="col col-75">
        <h1>Mood Log - 10:00 AM</h1>
        <h5>Should have been done 4 hours ago</h5>
    </div>
    <div class="col col-25 counter">
      <p class="number pink"> 1</p>
      <p class="pink small">missed alert</p>  
      </div> 

  </button>
  <div class="info-dropdown">
      <ul>
        <li class="e-item pink-border">Missed Questionnaire - 12:30 PM</li>
        <li class="e-item pink-border">Completed Questionnaire - 9:30 AM</li>
        <div class="button-bar">
           <a class="pink-border button e-button icon-left ion-close-circled">Dismiss All</a>
           <a class="pink-border button e-button icon-left ion-email icon-assertive">Send Message</a> 
        </div>
      </ul>  
  </div>  
  <div class="info-dropdown-arrow"><i class="ion-chevron-up"></i></div> 

  <!-- USE "ion-chevron-up" WHEN DROP DOWN IS CLOSED :) -->
    
 </div>


  </ion-content>

  <div class="tabs tabs-dark tabs-icon-top">
  <a class="tab-item">
    <i class="icon ion-gear-a"></i>
    Settings
  </a>
  
  <a class="tab-item">
    <i class="icon ion-stats-bars"></i>
    Statistics
  </a>

  <a class="tab-item">
    <i class="icon ion-chatbubbles"></i>
    Messages
  </a>
  
  
</div>
</ion-view>

