
  <ion-view class="e-page">
  <ion-header-bar class="bar-dark">
  <button class="button button-clear icon ion-navicon"></button>
 <h1 class="title">iMHere Caregiver</h1>
</ion-header-bar>
  <ion-content padding="false">



<div class="padding">

  <div class="e-header e-myMeds-home e-dark"> <h1>myMeds</h1> </div>

  <div class="heading orange-border">Ibuprofen</div>
  <div class="group">
      <ul>
        <li class="e-item orange-border">Intake History</li>
        <li class="e-item orange-border"><img src="../images/graph.png" width="100%"></li>

  
        <li class="heading orange-border">Schedule</li>

        <li class="e-item orange-border">Daily @ 1:00 PM</li>
        <li class="e-item orange-border">Daily @ 8:00 PM</li>
        
        <div class="button-bar">
           <a class="orange-border button e-button icon-left ion-plus-circled">Add schedules</a>
        </div>
      </ul>  
  </div> 

  <div class="heading orange-border">Vitamin A</div>
  <div class="group">
      <ul>
        <li class="e-item orange-border">Intake History</li>
        <li class="e-item orange-border"><img src="../images/graph.png" width="100%"></li>
  
        <li class="heading orange-border">Schedule</li>

        <li class="e-item orange-border">Daily @ 10:00 AM</li>
        
        <div class="button-bar">
           <a class="orange-border button e-button icon-left ion-plus-circled">Add schedules</a>
        </div>
      </ul>  
  </div>   




</ion-view>

