
  <ion-view class="e-page">
  <ion-header-bar class="bar-dark">
  <h1 class="title">iMHere Caregiver</h1>
</ion-header-bar>
  <ion-content padding="false">



<div>

  
    <div class="e-menu-item e-myMeds-menu">
      
      <p>My Meds</p>
    
    </div>

    

      <div class="e-menu-item e-teleCath-menu e-dark">
      <p>TeleCath</p>
      </div>


  
    
      <div class="e-menu-item e-bmq-menu e-dark">
      <p>BMQs</p>
      </div>

  
    <div class="e-menu-item e-mood-menu e-dark">
      <p>Mood</p>
      </div>
  
   
      <div class="e-menu-item e-skin-menu e-dark">
      <p>Skincare</p>
      </div>
  
  
  
      
  

      
 </div>


  </ion-content>  
</ion-view>

