
  <ion-view class="e-page">
  <ion-header-bar class="bar-dark">
  <button class="button button-clear icon ion-navicon"></button>
  <h1 class="title">iMHere Caregiver</h1>
</ion-header-bar>
  <ion-content padding="false">



<div class="padding">

  <div class="e-header e-skin-home e-dark"> <h1>Skin Care</h1> </div>

  <div class="heading purple-border">Skin Care Log</div>
  <div class="group">
      <ul>
        <li class="e-item purple-border row">
         <img src="../images/hand.png" width="100%" height="100%" class="col-20 padding">
             <div class="col-80 padding">
            <h1>Right Hand</h1>
            <h3>2016-05-01 01:00 PM</h3>
            </div>
          </li>
             <div class="info-dropdown-arrow icon-right ion-chevron-down"></div> 

             <li class="e-item purple-border row">
         <img src="../images/foot.jpg" width="100%" height="100%" class="col-20 padding">
             <div class="col-80 padding">
            <h1> Right Foot</h1>
            <h3>2016-05-01 01:00 PM</h3>
            </div>
          </li>
          <li class="e-item purple-border"><h1>Notes from the coordinator:</h1>
            <p>Please clean the affected area twice a day until healed</p></li>

          <li class="e-item purple-border">
            <h1>Details:</h1>
            <h2 class="purple">Size:</h2>
            <p>smaller than a penny</p>

            <h2 class="purple padding-top">Color:</h2>
            <p>Pink</p>

            <h2 class="purple padding-top">Condition:</h2>
            <p>Dry</p>
            
            <h2 class="purple padding-top">Depth:</h2>
            <p>Less than .1cm</p>
            
            <h4>2016-05-01 01:00PM</h4>
            
            
          </li>
             <div class="info-dropdown-arrow icon-right ion-chevron-up"></div> 


        
  
        <li class="heading purple-border">Schedules</li>

        <li class="e-item purple-border">Daily @ 1:00 PM</li>
       
        
        <div class="button-bar">
           <a class="purple-border button e-button icon-left ion-plus-circled">Add schedules</a>
        </div>
      </ul>  
  </div> 

  

</ion-view>

