
		

.e-page {
	
	background-color: $background;

	.e-header{
		width:100%;
		border: none;
		border-top: 5px solid;
		margin-bottom: 0;
		padding: 10px 0 10px 10px;
		background-position: left 10px top 5px;
		background-repeat: no-repeat;
		background-size: 10%;
		font-family: $font !important;

			h1 {margin: 0px 5px 0 45px;
								text-align: left;}}

		
	.heading{
		width:100%;
		border: none;
		border-bottom: 5px solid;
		margin-top: 10px;
		padding: 10px 0 10px 10px;
		font-family: $font !important;
		font-size: 20px;
		color:$white;
		background: #555555;
					} 


		.group {margin-bottom: 10px;

			h2 {margin: 0;}

			.row {padding:0;}}

	.pink-bg {background: $pink;
				color:$white;
				font-family: $font;
				font-size: 20px;
				text-align: center;
				padding-top:10px;
				}



					}


		

	



